@font-face {font-family: "Jost"; src: url("../assets/jost.ttf") format("truetype");}

body {
  background: #222;
  margin: 0;
	font: 400 22px/1.2 "Jost", sans-serif; color: #ccc;
	overflow: hidden;
}

#botMenu {display:grid; justify-self:end; grid-area: botMenu;  grid-template-columns: auto auto auto;}

#botMenu button {
  background: #222;
  min-width: 170px;
  border: 2px solid #fff;
	font: 400 22px/1.2 "Jost", sans-serif;
	font-size:clamp(18px, 2vw, 20px);
	color: #fff;
	opacity: 0.7;
	position: relative;
	cursor:pointer;
}

#botMenu button:hover {text-decoration: underline; opacity: .9; top: -1px;}
#botMenu button:active {top:1px;}

#botMenu button[disabled] {
  text-decoration: none;
	cursor: default;
	opacity: 0.2;
	top: auto;
}