@font-face {font-family: "Jost"; src: url("../assets/jost.ttf") format("truetype");}

* {margin: 0; padding: 0; box-sizing: border-box;}
input[type="radio"], input[type="checkbox"] {display: none;}

body {
  background: #222;
	font: 400 22px/1.2 "Jost", sans-serif; color: #ccc;
}

#grid {min-height:100vh; margin-top:1px;}

button {
	display:block;
	width:100%; max-width:200px;  height:100%;
	background: #222;
	margin: auto; padding: 10px 5px;
  border: 2px solid #fff;
	font: 400 22px/1.2 "Jost", sans-serif;
	font-size: clamp(0.875rem, 0.8rem + 1.2vw, 1.25rem);
	color: #fff;
	opacity: 0.8;
	position: relative;
	cursor: pointer;
}
button:hover {text-decoration: underline; opacity: .9; top: -1px;}
button:active {top:1px;}

button[disabled] {
  text-decoration: none;
	cursor: default;
	opacity: 0.2;
	top: auto;
}

#menu {display:grid; grid-template-columns: 1fr 1fr 1fr;
	max-width: 600px; margin:0 auto;
	grid-area: menu;
	width: 100%;
}
#menu > button:nth-child(2):last-child {grid-column: 3;}
 

@media screen and (max-width: 600px) {
	#menu {display: block;} #menu button {width:100%; max-width:inherit;}
}