@import url('common.css');


#bgImage, #bgImage2 {
	width: clamp(20%, 6vw, 45%); height: 100%;
	opacity: 0; transition: opacity 4s;
	z-index: -1;
	position: fixed;
}
#bgImage {background: url("../assets/background.jpg") no-repeat left bottom; background-size: contain;}
#bgImage2 {background: url("../assets/background2.jpg") no-repeat left bottom; background-size: contain;}

#grid {
	display: grid; grid-template-areas:'menu menu' 'score score' 'trivia trivia' 'chapter chapter';
	grid-template-rows: minmax(auto, 45px) minmax(auto, 55px) 5fr minmax(auto, 45px);
}

#score {
	padding-top: 15px;
	font-size:20px;
	text-align: center;
	opacity: 0; transition: opacity 0.2s;
	grid-area: score;
	align-content:start;
	width: 100%;
}

#menu {grid-template-columns: auto;}
#options {opacity:.8; transition: opacity 1s; padding:0; height: 100%;}
#continue {display:none; opacity:0; transition: opacity 2s; justify-self: center; height: 100%;}
#menu > button:nth-child(2):last-child {grid-column: unset;}


#chapter {
	border:none;
	width:auto;
	margin:0; padding:15px;
	font-size:20px;
	opacity:0; transition: opacity 2s; 
	grid-area: chapter; justify-self: end; align-content: end;
}

#trivia {grid-area: trivia; align-self:center;
margin-bottom:10%;
}

#question {
	margin: auto 5px;
	padding-bottom: 10px;

	font-size: 24px; 

	text-align: center;
	opacity: 0;
	transition: opacity 2s;
}

#choices {font-size: 20px; opacity: 0; transition: opacity 2s;}

#choices label {padding: 15px 5px; border: none;}

#choices label:hover {opacity: 0.9; top: -1px;}
#choices label:active {top: 1px;}

label:hover, input#toggleAll + label {
	text-decoration: underline;
	opacity: 0.9; transition: opacity 0.2s;
}

label:active {opacity: 0.6; top: 1px;}

input[disabled] + label, input[disabled]:checked + label {
	text-decoration: none;
	cursor: default;
	opacity: 0.3;
}

input[disabled] + label:active {top: 0;}

label {	
	margin: auto;
	border: 2px solid #fff;
	text-align: center;
	cursor: pointer;
	opacity: 0.8; transition: opacity 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}



@media screen and (max-width: 600px) {
	#score {padding-top:10px; font-size:clamp(12px, 6vw, 19px);} #trivia {align-self: auto; margin-top: 0; margin-bottom:0;}
	#question {width:auto; font-size: clamp(12px, 6vw, 21px);} #choices {font-size: clamp(12px, 6vw, 19px);}
	#chapter {font-size: clamp(12px, 6vw, 19px);}
	#continue {max-width: 100%;}
}
@media screen and (max-height: 580px) {
	#bgImage, #bgImage2 {display:none;}
	#chapter {justify-self: center;}
}