@import url('common.css');

#grid {
	height: 100vh;
	display: grid; grid-template-areas:'chapters chapters''botMenu botMenu';
	grid-template-rows:auto 50px;
}

#optTitle {
	font-size: 24px;
	margin:auto; font-weight:normal;
	opacity: 0.85;
	text-align: center;
	width: 100%;
	align-self: self-end;
	padding:0; padding-top:5px;
}

input[type="radio"], input[type="checkbox"] {	display: none;}

#chapters {
	max-width: 600px;
height:100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	grid-area: chapters;
}

label {
	font-size: 20px;
	opacity: 0.3;
	position: relative;
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center;
}

input:checked+label {opacity: 0.7;}
input:checked+label:hover {opacity: 0.85;}

label:hover {
	top:-1px;
	opacity: 0.5;
	cursor: pointer;
	text-decoration:underline;
}

label:active {top:1px;}

input[type="checkbox"]+label {
	border: 2px solid #fff;
	padding:10px;
	flex:1;
}

input:disabled+label {
	top:0;
	cursor:default;
	text-decoration:line-through;
	opacity:.1;
}

input:disabled+label:hover {opacity:.1;}


#toggleAll+label {flex:2;}
#toggleAll:not(:checked)+label {opacity: 0.7;}


@media screen and (max-width: 1180px) {
	#botMenu {width: 100%;} #botMenu a {min-width:auto;}
}

