@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');

body {
    font-size: 18px;
    background: #0b1316;
    height:100vh;
    margin:0;
}

body, button {
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}

#question {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px 10px 20px;
    opacity: 0;
    transition: opacity 2s;
}

#choices {
    margin-bottom: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
}

.choice {
    background: transparent;
    font-size: 17px;
    border: 0;
    padding: 5px 12px;
    display: inline-block;
    cursor: pointer;
}

.choice:hover,
#retry:hover {
    text-decoration: underline;
    opacity: .85;
    transition: opacity 0.15s ease-in-out;
}

.choice.selected,
#retry:active {
    text-decoration: underline;
    opacity: .9;
    transition: opacity 0.15s ease-in-out;
}

#bottom-middle {
    position: fixed;
    inset: auto auto 0 50%;
    transform: translateX(-50%);
}

#retry {
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    display: block;
    max-width: 150px;
    width: 100%;
    margin: 20px auto;
    padding: 10px 15px;
    border: 2px solid #ccc;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.15s ease-in-out;
}

#score {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
    opacity: 0.75;
}

/* #bgimage {
    position: fixed;
    inset: auto auto 0 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url("images/background.jpg") no-repeat;
    background-size: contain;
    transition: opacity 2s;
}*/
